@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");

.custom-button {
  padding: 15px 10px;
  width: 12rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  border: none;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-weight: 700;
  }

  &.googleSignIn {
    background-color: rgba(66, 133, 244, 0.9);

    &:hover {
      background-color: rgba(66, 133, 244, 1);
      font-weight: 700;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 2px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
