.signUp {
  width: 30vw;
  display: flex;
  flex-direction: column;

  .title {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 800px) {
  .signUp {
    padding-top: 5rem;
    width: 85vw;
  }
}
